<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Book Management System</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{> navbar}}

  <div class="container">
    {{{body}}}
  </div>

  <script src="/js/main.js"></script>
</body>
</html>
