<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    {{{css 'style.css'}}}
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
